{% extends "layout.html" %}
{% block content %}
<div class="container">
      <div class="alert alert-success alert-custom" role="alert">
        <h4 class="alert-heading">About</h4>
          <h1>Welcome to the VTU 6th Semester Fullstack Development Lab Documentation</h1>
        <hr>
        <p class="mb-0"></p>
      </div>
    <h
    <hr>
    <p>
      This website provides a walkthrough on how to execute and run the VTU 6th semester Fullstack Development Lab programs. The main purpose of this documentation is to offer a comprehensive guide for running these lab programs. "Sometimes you gotta run before you can walk." By getting the programs running, we can understand how things work and later tweak and modify them according to our needs.
    </p>
    <h2>What's in this website</h2>
    <ul>
      <li>I have written detailed walkthroughs on how to execute the programs and provided video summaries at the end of each page.</li>
      <li>You can download all the programs <a href="https://github.com/Shashank-V-H/django_lab_projects.git" target="_blank">here</a>.</li>
      <li>Additionally, I have included links to the official Django documentation and other relevant resources on each program page, where you can find comprehensive information about the methods and techniques used in the lab programs.</li>
      <li>If you notice any errors, please inform <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shashankvmh4@gmail.com&su=About%20the%20Mistake%20in%20the%20Website" target="_blank">me</a> while listening to this <a href="https://www.youtube.com/watch?v=L3wKzyIN1yk" target="_blank">song 😉</a>.</li>
    </ul>


</div>
<!-- Acknowledgment Page -->
<div class="container mt-4">
  <h2>Acknowledgments</h2>
  <h3>Special Thanks to:</h3>
  <ul>
    <li><a href="https://www.linkedin.com/in/drsureshl" target="_blank"><strong >DR. SURESH L</a>, Head of Department, Department of ISE, RNS Institute of Technology</strong><br>For fostering a supportive academic environment and encouraging student innovation.</li>
    <li><a href="https://in.linkedin.com/in/poornimamittalkod" target="_blank"><strong>PURNIMA S MITTALKOD</a>, Assistant Professor, Department of ISE, RNS Institute of Technology</strong><br>Grateful for your guidance in ensuring the code's correctness.</li>
  </ul>
</div>

{% endblock %}
