{% extends "layout.html" %}
{% block content %}
<div class="container">
      <div class="alert alert-success alert-custom" role="alert">
        <h4 class="alert-heading">About</h4>
          <h1>Welcome to the VTU 6th Semester Fullstack Development Lab Documentation</h1>
        <hr>
        <p class="mb-0"></p>
      </div>
    <h
    <hr>
    <p>
        This documentation website provides a walkthrough on how to execute and run the VTU 6th semester Fullstack Development Lab programs. 
        The main idea of this documentation is to provide a comprehensive guide for running the Lab programs, "Sometimes you gotta run before you can walk ~Iron Man -Stan lee"
        If we get the program running we can understand how the things work the way they are and later we can tweak and modify according to our needs.
    </p>
    <h2>What's in this website</h2>
    <ul>
        <li>I've witten detailed walkthrough on how to run the programs and also provided video summary on how to run the program at the end of each page.</li>
        <li>You can also download all the programs <a href="https://github.com/Shashank-V-H/django_lab_projects.git" target="_blank">here</a></li>
        <li>Additionally, I have also provided a link to the official Django documentation and other documentation on each page of programs where you can find detailed information about 
        the methods and techniques used in the lab programs.</li>
        <li>If you spot any mistakes, feel free to inform <a href="https://mail.google.com/mail/?view=cm&fs=1&to=shashankvmh4@gmail.com" target="_blank">me </a>while listening to this <a href="https://www.youtube.com/watch?v=L3wKzyIN1yk" target="_blank">song</a>.</li>
    </ul>

</div>
{% endblock %}
