{% extends "layout.html" %}
{% block content %}
    <!-- Your content -->

    <!-- Acknowledgements Section -->
    <section id="acknowledgements" class="mt-5">
        <div class="container">
            <h1>Acknowledgements</h1>
            <h2>Resources Used</h2>
            <ul>
                <li><a href="https://docs.djangoproject.com/en/5.0/" target="_blank">Django Documentation</a></li>
                <li><a href="https://chat.openai.com/" target="_blank">ChatGPT</a></li>
                <li><a href="https://youtu.be/RbJOmgTX63M?si=rNSfN5h-pOWO69aK" target="_blank">Code With Stein</a></li>
                <li><a href="https://app.eraser.io/" target="_blank">Eraser.io</a></li>
                <li><a href="https://highlightjs.org/" target="_blank">highlight.js</a></li>
            </ul>
        </div>
    </section>


{% endblock content %}
