{% extends "layout.html" %} {% block content %}

<div class="container text-center mt-5">
    <p>
        It seems like you're trying to connect with me, but I don't have social
        media accounts except LinkedIn. check out my other work instead.
    </p>
    <img
        src="https://c.tenor.com/kHcmsxlKHEAAAAAC/rock-one-eyebrow-raised-rock-staring.gif"
        alt="rock"
        width="400"
        height="300"
    />
    {% comment %}
    <img
        src="https://media1.tenor.com/images/a0afeb9cc47a7baf61be453b9a5736b2/tenor.gif?itemid=5957952"
        alt="rock"
        width="400"
        height="300"
    />
    {% endcomment %}

    <hr />
    <h4>[1] Website inspired by Riddler</h4>
    <p class="mt-3">
        Try to reveal the <b>secret</b> in this website
        <a
            href="https://shashankvh.pythonanywhere.com/terminal/"
            target="_blank"
            class="text-info"
            >rataalada</a
        >
    </p>
    <hr />
    <h4>[2] Website inspired by SQL Murder Mystery</h4>
    <p class="mt-3">
        Solve the <b>SQL questions</b> in this website
        <a
            href="https://sql-playground-4vog.onrender.com/"
            target="_blank"
            class="text-info"
            >sql-playground</a
        >
    </p>
    <hr />
    <h4>[3] Text-to-Webapp Generator</h4>
    <p class="mt-3">
        Generate <b>webpages</b> in this website
        <a
            href="https://t2w.pythonanywhere.com/"
            target="_blank"
            class="text-info"
            >T2W</a
        >
    </p>

    <p class="mt-5">
        Want to get in touch? Drop me an email at
        <a
            href="https://mail.google.com/mail/?view=cm&fs=1&to=shashankvmh4@gmail.com&su=connect"
            target="_blank"
            class="text-info"
            >shashankvmh4@gmail.com</a
        >, or connect @
        <a
            href="https://www.linkedin.com/in/shashank-v-h/"
            target="_blank"
            class="text-info"
            >linkedin </a
        >.
    </p>
</div>

{% endblock %}
