
{% extends "layout.html" %}
{% block content %}

    <div class="container text-center mt-5">
        <!-- <h1>Hey howdy hi, how is everything going?</h1> -->
        <h1>Peek a boo</h1>
        <p>It seems like you're trying to connect with me, but I only have email and unused linkdin. So, enjoy this memes instead!</p>
<img src="https://c.tenor.com/kHcmsxlKHEAAAAAC/rock-one-eyebrow-raised-rock-staring.gif" alt="rock" width="400" height="300">
        
        <p class="mt-5">Want to get in touch? Drop me an email at <a href="mailto:shashankvmh4@gmail.com" class="text-info">shashankvmh4@gmail.com</a>, or click linkdin button.</p>
    </div>

{% endblock %}
